$pokeball-red: #C52941;

#NavBar{
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $pokeball-red;
    height: 60px;
    width: 100%;
    #Title{
        font-weight: bold;
        font-size: 20px;
        padding-left: 10px;
        color: white;
    }
}

