// Type Colors
// Normal Type
$types: (
    'normal': (
        'dark': #708090,
        'light': #D3D3D3
    ),
    'fire': (
        'dark': #DC143C,
        'light': #F08080
    ),
    'water': (
        'dark': #2062AC,
        'light': #5A8BCD
    ),
    'electric': (
        'dark': #DAA520,
        'light': #FFFACD
    ),
    'grass': (
        'dark': #41AC41,
        'light': #83CD6A
    ),
    'ice': (
        'dark': #4682B4,
        'light': #E0FFFF
    ),
    'fighting': (
        'dark': #800000,
        'light': #C22E28
    ),
    'poison': (
        'dark': #9400D3,
        'light': #DA70D6
    ),
    'ground': (
        'dark': #8B4513,
        'light': #D2B48C
    ),
    'flying': (
        'dark': #191970,
        'light': #87CEFA
    ),
    'psychic': (
        'dark': #EE83B4,
        'light': #FFB4D5
    ),
    'bug': (
        'dark': #7BD55A,
        'light': #A6B91A
    ),
    'rock': (
        'dark': #2F4F4F,
        'light': #DEB887
    ),
    'ghost': (
        'dark': #483D8B,
        'light': #866db6
    ),
    'dragon': (
        'dark': #104A8B,
        'light': #5fa4b8
    ),
    'dark': (
        'dark': #000000,
        'light': #696969
    ),
    'steel': (
        'dark': #808080,
        'light': #C0C0C0
    ),
    'fairy': (
        'dark': #C71585,
        'light': #FFB6C1
    )
);

// Mixin for dark background with border
@mixin bg-dark($bg-color, $border-color) {
    background-color: $bg-color;
    border: 3px solid $border-color;
}

// Mixin for light background with text-shadow
@mixin bg-light($bg-color, $text-shadow-color) {
    background-color: $bg-color;
    text-shadow: -0.75px -0.75px 0 black,
                 0.75px -0.75px 0 black,
                 -0.75px 0.75px 0 black,
                 0.75px 0.75px 0 black;
}

@mixin border-color($border-color){
    border-color: $border-color !important;
}

// Generate classes for dark backgrounds with borders
@each $type, $colors in $types {
    @each $shade, $color in $colors {
        @if $shade == 'dark' {
            $light-color: map-get($colors, 'light');
            .bg-#{$type}-#{$shade} {
                @include bg-dark($color, $light-color);
            }
            .border-#{$type}-#{$shade} {
                @include border-color($color)
            }
        }
        @else{
            $dark-color: map-get($colors, 'dark');
            .bg-#{$type}-#{$shade} {
                @include bg-light($color, $dark-color);
            }
            .border-#{$type}-#{$shade} {
                @include border-color($color)
            }
        }
    }
}


#queryResults{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}