// Type Colors
// Normal Type
$normal-dark: #708090;
$normal-light: #D3D3D3;

// Fire Type
$fire-dark: #DC143C;
$fire-light: #F08080;

// Water Type
$water-dark: #2062AC;
$water-light: #5A8BCD;

// Electric Type
$electric-dark: #DAA520;
$electric-light: #FFFACD;

// Grass Type
$grass-dark: #41AC41;
$grass-light: #83CD6A;

// Ice Type
$ice-dark: #4682B4;
$ice-light: #E0FFFF;

// Fighting Type
$fighting-dark: #800000;
$fighting-light: #FA8072;

// Poison Type
$poison-dark: #9400D3;
$poison-light: #DA70D6;

// Ground Type
$ground-dark: #8B4513;
$ground-light: #D2B48C;

// Flying Type
$flying-dark: #191970;
$flying-light: #87CEFA;

// Psychic Type
$psychic-dark: #9932CC;
$psychic-light: #E6E6FA;

// Bug Type
$bug-dark: #5A9C4A;
$bug-light:#8BCD73;

// Rock Type
$rock-dark: #2F4F4F;
$rock-light: #DEB887;

// Ghost Type
$ghost-dark: #483D8B;
$ghost-light: #F8F8FF;

// Dragon Type
$dragon-dark: #104A8B;
$dragon-light: #316AAC;

// Dark Type
$dark-dark: #000000;
$dark-light: #696969;

// Steel Type
$steel-dark: #808080;
$steel-light: #C0C0C0;

// Fairy Type
$fairy: #C71585;
$fairy-light: #FFB6C1;

// Mixin for dark background with border
@mixin bg-dark($bg-color, $border-color) {
    background-color: $bg-color;
    border: 3px solid $border-color;
}

// Mixin for light background with text-shadow
@mixin bg-light($bg-color, $text-shadow-color) {
    background-color: $bg-color;
    text-shadow: -0.75px -0.75px 0 black,
                 0.75px -0.75px 0 black,
                 -0.75px 0.75px 0 black,
                 0.75px 0.75px 0 black;
}

// Normal Type
.bg-normal-dark {
    @include bg-dark($normal-dark, $normal-light);
}
.bg-normal-light {
    @include bg-light($normal-light, $normal-dark);
}

// Fire Type
.bg-fire-dark {
    @include bg-dark($fire-dark, $fire-light);
}
.bg-fire-light {
    @include bg-light($fire-light, $fire-dark);
}

// Water Type
.bg-water-dark {
    @include bg-dark($water-dark, $water-light);
}
.bg-water-light {
    @include bg-light($water-light, $water-dark);
}

// Electric Type
.bg-electric-dark {
    @include bg-dark($electric-dark, $electric-light);
}
.bg-electric-light {
    @include bg-light($electric-light, $electric-dark);
}

// Grass Type
.bg-grass-dark {
    @include bg-dark($grass-dark, $grass-light);
}
.bg-grass-light {
    @include bg-light($grass-light, $grass-dark);
}

// Ice Type
.bg-ice-dark {
    @include bg-dark($ice-dark, $ice-light);
}
.bg-ice-light {
    @include bg-light($ice-light, $ice-dark);
}

// Fighting Type
.bg-fighting-dark {
    @include bg-dark($fighting-dark, $fighting-light);
}
.bg-fighting-light {
    @include bg-light($fighting-light, $fighting-dark);
}

// Poison Type
.bg-poison-dark {
    @include bg-dark($poison-dark, $poison-light);
}
.bg-poison-light {
    @include bg-light($poison-light, $poison-dark);
}

// Ground Type
.bg-ground-dark {
    @include bg-dark($ground-dark, $ground-light);
}
.bg-ground-light {
    @include bg-light($ground-light, $ground-dark);
}

// Flying Type
.bg-flying-dark {
    @include bg-dark($flying-dark, $flying-light);
}
.bg-flying-light {
    @include bg-light($flying-light, $flying-dark);
}

// Psychic Type
.bg-psychic-dark {
    @include bg-dark($psychic-dark, $psychic-light);
}
.bg-psychic-light {
    @include bg-light($psychic-light, $psychic-dark);
}

// Bug Type
.bg-bug-dark {
    @include bg-dark($bug-dark, $bug-light);
}
.bg-bug-light {
    @include bg-light($bug-light, $bug-dark);
}

// Rock Type
.bg-rock-dark {
    @include bg-dark($rock-dark, $rock-light);
}
.bg-rock-light {
    @include bg-light($rock-light, $rock-dark);
}

// Ghost Type
.bg-ghost-dark {
    @include bg-dark($ghost-dark, $ghost-light);
}
.bg-ghost-light {
    @include bg-light($ghost-light, $ghost-dark);
}

// Dragon Type
.bg-dragon-dark {
    @include bg-dark($dragon-dark, $dragon-light);
}
.bg-dragon-light {
    @include bg-light($dragon-light, $dragon-dark);
}

// Dark Type
.bg-dark-dark {
    @include bg-dark($dark-dark, $dark-light);
}
.bg-dark-light {
    @include bg-light($dark-light, $dark-dark);
}

// Steel Type
.bg-steel-dark {
    @include bg-dark($steel-dark, $steel-light);
}
.bg-steel-light {
    @include bg-light($steel-light, $steel-dark);
}

// Fairy Type
.bg-fairy-dark {
    @include bg-dark($fairy, $fairy-light);
}
.bg-fairy-light {
    @include bg-light($fairy-light, $fairy);
}

#pokemonSearchBar{
    width:20%;
}
#queryResults{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.pokemonCard{
    height: 420px;
    width: 400px;
    border-radius: 10%;
    color: white;
    font-weight: bold;
    margin: 30px;
    overflow: hidden;

    &:hover .pokeballImg{
        animation: spin 1s infinite linear;
        animation-delay: 0.25s
    }
    &:hover{
        animation: bounce 0.25s ease forwards;
        border: black solid 3px;
    }

    .header{
        margin: 10px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    
        .row-1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 10px;

            .pokemonId{
                border-radius: 5%;
                
                padding-left: 10px;
                padding-right: 10px;
                height: 50px;
        
                text-align: center;
                line-height: 50px;
                font-size: 30px;
            }
    
            .pokemonName{
                border-radius: 5%;
                padding-left: 25px;
                padding-right:25px;
                height: 50px;
        
                text-align: center;
                line-height: 50px;
                font-size: 30px;
            }
        }
        
        .row-2{
            display: flex;
            flex-direction: row;
            .pokemonType{
                border-radius: 5%;
                padding-left: 25px;
                padding-right:25px;
                height: 25px;
  
                text-align: center;
                line-height: 25px;
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    .body{
        margin: 10px;
        height: 150px;
        width: auto;
        margin-bottom: 30px;

        position: relative;
        
        .pokeballImg{
            height: 100%;
            padding: 10px;
            border-radius: 100%;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .pokemonImg{
            height: 90%;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);        
        }
    }

    .footer{
        .generationInfo{
            font-size: 20px;
            text-align: center;
            padding-bottom: 20px;
        }
    }
}


// Animations
@keyframes spin {
    @for $i from 0 through 10 {
      $percent: $i * 10%;
      #{$percent} {
        transform: translate(-50%, -50%) rotate(#{($i + 1) * 36}deg);
      }
    }  
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform:scale(1);
    }
}