.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5em;

    &:first-of-type{
        margin-top: 2em;
    }

    &>h1{
        width: 100%;
        border-bottom: 3px solid gray;
    }
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#body{
    background-color: white;
    padding-top: 55px;
    width: 90%;
    padding-bottom: 5rem
}


