$physical-attack : #eb5628;
$status-attack:#828282 ;
$special-attack: #375ab2;

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

    &#moveTable{
        overflow: scroll;
    }
}

.column{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    height: fit-content;
}

@mixin damageClass($color){
    background-color: $color;
    color: white;
    text-shadow: -0.75px -0.75px 0 black,
    0.75px -0.75px 0 black,
    -0.75px 0.75px 0 black,
    0.75px 0.75px 0 black;
}

button{
    width:fit-content;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: 0px;
    color: white;
}


#moveTable{
    border: 3px solid;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    thead{
        border: 10px solid;
        tr{
            th{
                border: 2px solid;
                color: white;
                font-size: 15px;
                text-align: center;
            }
        }
    }
    tbody{
        tr{
            
            td{
                width: 10em;
                font-size: 15px;
                padding-left: 10px;
                padding-right: 10px;
                text-wrap: nowrap;
                text-align: center;
            }
            .type{
                color: white !important;
            }
            .physical-bg{
                @include damageClass($physical-attack);
            }
            .special-bg{
                @include damageClass($special-attack);
            }            
            .status-bg{
                @include damageClass($status-attack);
            }
        }
    }

}

#moveButtons{
    margin-left: auto;
    margin-right: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}

//mobile
@media screen and (min-width: 321px) and (max-width: 767px) {
    #moveTable{
        //padding-left: 0 !important;
        width: 90% !important;
    }
}
