#generalInfo{
    border-radius: 10px;
    width: 30%;
    text-align: center;
    height: fit-content;

    .infoCardLarge{
        border-radius: 5px;
        width: 73%;
        padding: 0.5em;
        border: 1em solid;
        margin: 0.5em;
        background-color: white;
        h1{
            margin: 5px;
            font-size: 30px;
        }
        h3{
            font-weight: bold;
            font-size: 20px;
            margin: 0 auto 10px auto;
            width: 75%;
            padding-bottom: 10px;
            border-bottom: 1px solid grey;
        }
        p{
            font-size: 15px;
            margin: 0;
        }
        i{
            font-size: 15px;
            margin: 0;
        }

    }
    
    .infoCardLarge:first-of-type{
        margin-top: 2em;
    }

    & > .row:last-of-type{
        margin-bottom: 2em;
    }

    .infoCardSmall{
        border-radius: 5px;
        width: 29.7%;
        padding: 0.5em;
        border: 1em solid;
        margin: 0.5em;
        background-color: white;
        h3{
            margin: 0 0 10px 0;
            font-size: 15px;
        }
        p{
            margin: 0;
        }
    }
}

// Pokemon name and Id
#generalInfo{
    #nameTag{
        font-size: 40px;
        &.row{
            justify-content: space-between;
        }
        
    }
}

// Pokemon portrait
#pokemonPortrait{
    .infoBubble{
        height: 22rem;
        
    }
    img{
        width: 100%;
        height: 100%;
    }
}

// Pokemon typings
#pokemonTypings{
    
    .pokemonType{
        border-radius: 5%;
        padding-left: 25px;
        padding-right: 25px;
        height: 25px;

        text-align: center;
        line-height: 25px;
        font-size: 20px;
        color: white;
    }
    .row{
        gap: 4em;
        justify-content: center;
    }
}

.row{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.column{
    display: flex;
    align-items: center;
    flex-direction: column;
}
