.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column{
    display: flex;
    align-content: center;
    flex-direction: column;
}

#banner{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.banner-link{
    width: 100px;
    height: 100%;
    img{
        margin: 0;
        padding: 0;
    }
    div{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
}

//mobile
@media screen and (min-width: 321px) and (max-width: 767px) {
    .banner-link{
        width: 100px;
    }
}

@media screen and (max-width: 320px){
    .banner-link{
        width: 75px;
    }
}