$pokeball-red: #C52941;

@media screen and (min-width: 768px) and (max-width: 4000px) {   
    #filter-form{
        width: 50%;
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 5px;
        & > *{
            padding: 10px;
            display:flex;
            justify-content: center;
            flex-wrap:wrap;
        }
        & > *:not(:last-child){
            border-bottom: 1px dotted lightgray;
        }
    
        #header{
            display: flex;
            justify-content: flex-end;
            #close-form-button{
                border-radius: 50%;
                background-color: $pokeball-red;
                border: none;
                color: white
            }
        }
        #keyword-filter{
            padding: 20px;
            #pokemon-search-bar{
                width: 50%;
            }
        }
        #type-filter{
            line-height: 35px;
            .pokemon-type-filter{
                border-radius: 5px;
                padding-left: 25px;
                padding-right:25px;
                height: 25px;
                color: white;
                text-align: center;
                line-height: 25px;
                font-size: 20px;
                margin: 10px;
                border: 1px solid grey;
    
                filter:opacity(50%);
            }
            .checkbox:checked + .pokemon-type-filter{
                filter:opacity(100%);
            }    
        }
        #generation-filter{
            line-height: 35px;
            .generation-type-filter{
                border-radius: 5px;
                padding-left: 25px;
                padding-right: 25px;
                line-height: 45px;
                
                text-align: center;
                font-size: 22px;
                margin: 10px;
                border: 1px solid grey;
    
                filter:opacity(50%);
                
                & > #mascot-image{
                    height: 20px;
                    width: 20px;
                }
            }
            .checkbox:checked + .generation-type-filter{
                filter:opacity(100%);
            }
        }
        #footer{
            // background-color: red;
            padding: 15px;
            & > *{
                background-color: $pokeball-red;
                border-radius: 5px;
                font-size: 15px;
                padding: 5px 10px 5px 10px;
                color: white;
                border: none;
                margin: 0 10px 0 10px;
            }
        }
    }  
}

.checkbox{
    opacity: 0;
    width: 0;
    height: 0;
}

//mobile
@media screen and (min-width: 319px) and (max-width: 767px) {
    #filter-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 5px;
        & > *{
            padding: 10px;
            display:flex;
            justify-content: center;
            flex-wrap:wrap;
        }
        & > *:not(:last-child){
            border-bottom: 1px dotted lightgray;
        }
    
        #header{
            display: flex;
            justify-content: flex-end;
            #close-form-button{
                padding: 5px;
                border-radius: 50%;
                background-color: $pokeball-red;
                border: none;
                color: white
            }
        }
        #keyword-filter{
            padding: 20px;
            #pokemon-search-bar{
                width: 100%;
            }
        }
        #type-filter{
            line-height: 35px;
            .pokemon-type-filter{
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;
                height: 25px;
                color: white;
                text-align: center;
                line-height: 25px;
                font-size: 15px;
                margin: 0px 2px 0px 2px;
                border: 1px solid grey;
    
                filter:opacity(50%);
            }
            .checkbox:checked + .pokemon-type-filter{
                filter:opacity(100%);
            }    
        }
        #generation-filter{
            .generation-type-filter{
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;
                text-align: center;
                font-size: 15px;
                margin: 0px 2px 0px 2px;
                border: 1px solid grey;
    
                filter:opacity(50%);
                
                & > #mascot-image{
                    display: none;
                }
            }
            .checkbox:checked + .generation-type-filter{
                filter:opacity(100%);
            }
        }
        #footer{
            // background-color: red;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding: 15px;
            & > *{
                background-color: $pokeball-red;
                border-radius: 5px;
                font-size: 15px;
                padding: 5px 10px 5px 10px;
                color: white;
                border: none;
                margin: 0 10px 0 10px;
            }
        }
    }
    
}