$bigTextSize: 30px;
$smallTextSize: 20px;

@media screen and (min-width: 768px) and (max-width: 4000px) {    
    .pokemon-card{
        height: 405px;
        width: 400px;
        border-radius: 10%;
        color: white;
        font-weight: bold;
        margin: 30px;
        overflow: hidden;
    
        &:hover .pokeball-img{
            animation: spin 1s infinite linear;
            animation-delay: 0.25s
        }
        &:hover{
            animation: bounce 0.25s ease forwards;
            border: black solid 3px;
        }
    
        .header{
            margin: 15px 15px 30px 15px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 10px;
        
            .row-1{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 10px;
    
                .pokemon-id{
                    border-radius: 5px;
                    
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 50px;
            
                    text-align: center;
                    line-height: 50px;
                    font-size: $bigTextSize;
                }
        
                .pokemon-name{
                    border-radius: 5px;
                    padding-left: 25px;
                    padding-right:25px;
                    height: 50px;
            
                    text-align: center;
                    line-height: 50px;
                    font-size: $bigTextSize;
                }
            }
            
            .row-2{
                display: flex;
                flex-direction: row;
                .pokemon-type{
                    border-radius: 5px;
                    padding-left: 25px;
                    padding-right:25px;
                    height: 25px;
      
                    text-align: center;
                    line-height: 25px;
                    font-size: $smallTextSize;
                    margin-right: 10px;
                }
            }
        }
    
        .body{
            margin: 10px;
            height: 175px;
            width: auto;
            margin-bottom: 30px;
    
            position: relative;
            
            .pokeball-img{
                height: 110%;
                padding: 10px;
                border-radius: 50%;
                border: 5px solid white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            .pokemon-img{
                height: 95%;
    
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);        
            }
        }
    
        .footer{
            .generation-info{
                font-size: $smallTextSize;
                text-align: center;
                height: 50px;
            }
        }
    }
}


//mobile
@media screen and (min-width: 319px) and (max-width: 767px) {
    .pokemon-card{
        height: 380px;
        width: 300px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        overflow: hidden;
        margin: 10px;
    
        &:hover .pokeball-img{
            animation: spin 1s infinite linear;
            animation-delay: 0.25s
        }
        &:hover{
            animation: bounce 0.25s ease forwards;
            border: black solid 3px;
        }
    
        .header{
            margin: 5%;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
        
            .row-1{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 10px;
                font-size: 25px;

                .pokemon-id{
                    border-radius: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 50px;
            
                    text-align: center;
                    line-height: 50px;
                }
        
                .pokemon-name{
                    border-radius: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 50px;
            
                    text-align: center;
                    line-height: 50px;
                }
            }
            
            .row-2{
                display: flex;
                flex-direction: row;
                .pokemon-type{
                    border-radius: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    height: 25px;
      
                    text-align: center;
                    line-height: 25px;
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
        }
    
        .body{
            margin-top: 30px;
            height: 175px;
            width: auto;
            margin-bottom: 30px;
    
            position: relative;
            
            .pokeball-img{
                height: 110%;
                padding: 10px;
                border-radius: 50%;
                border: 5px solid white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            .pokemon-img{
                height: 95%;
    
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);        
            }
        }
    
        .footer{
            .generation-info{
                padding-top: 5px;
                font-size: 15px;
                text-align: center;
                height: 50px;
            }
        }
    }
}



// Animations
@keyframes spin {
    @for $i from 0 through 10 {
      $percent: $i * 10%;
      #{$percent} {
        transform: translate(-50%, -50%) rotate(#{($i + 1) * 36}deg);
      }
    }  
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform:scale(1);
    }
}